##TASK-1

In [1]:
#Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [3]:
import pandas as pd
import numpy as np

In [4]:
#making dataframe from dictionary
dct={'name':['A','B','C','D','E','F','G','H','I','J'],
     'age':[np.nan,29,21,34,23,43,np.nan,12,np.nan,28],
     'salary':[1000,900,200,800,100,5000,2000,333,np.nan,2900],
     'work exp':[2,3,3,4,1,10,4,3,1,5],
     'dept':['HR','HR','Finance','HR','Tech','Tech','HR','Finance','HR','Tech']
     }
df=pd.DataFrame(dct)

In [5]:
df

  name   age  salary  work exp     dept
0    A   NaN  1000.0         2       HR
1    B  29.0   900.0         3       HR
2    C  21.0   200.0         3  Finance
3    D  34.0   800.0         4       HR
4    E  23.0   100.0         1     Tech
5    F  43.0  5000.0        10     Tech
6    G   NaN  2000.0         4       HR
7    H  12.0   333.0         3  Finance
8    I   NaN     NaN         1       HR
9    J  28.0  2900.0         5     Tech

##TASK-2

In [6]:
#Check the info of 'df'

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   age       7 non-null      float64
 2   salary    9 non-null      float64
 3   work exp  10 non-null     int64
 4   dept      10 non-null     object
dtypes: float64(2), int64(1), object(2)
memory usage: 528.0+ bytes

##TASK-3

In [8]:
#Check the descriptive statistics of 'df'

In [9]:
df.describe()

             age       salary   work exp
count   7.000000     9.000000  10.000000
mean   27.142857  1470.333333   3.600000
std     9.889870  1603.276645   2.590581
min    12.000000   100.000000   1.000000
25%    22.000000   333.000000   2.250000
50%    28.000000   900.000000   3.000000
75%    31.500000  2000.000000   4.000000
max    43.000000  5000.000000  10.000000

##TASK-4

In [10]:
#check the 4th index observation with 'loc' slicing operator.

In [11]:
df.head()

  name   age  salary  work exp     dept
0    A   NaN  1000.0         2       HR
1    B  29.0   900.0         3       HR
2    C  21.0   200.0         3  Finance
3    D  34.0   800.0         4       HR
4    E  23.0   100.0         1     Tech

In [12]:
df.loc[4] #4th index observation

name            E
age          23.0
salary      100.0
work exp        1
dept         Tech
Name: 4, dtype: object

##TASK-5

In [13]:
#Check the null values in your 'df'

In [15]:
df.isnull().any() #age and salary has null values

name        False
age          True
salary       True
work exp    False
dept        False
dtype: bool

In [16]:
df.isnull().sum() #so 3 null values in age and 1 in salary

name        0
age         3
salary      1
work exp    0
dept        0
dtype: int64